{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "rules": {
    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": ["error"],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "extends": [
    "eslint:recommended", 
    "plugin:jest/recommended",
    "plugin:@typescript-eslint/recommended",
  ],
  "env": {
    "jest/globals": true
  }
}